<header>
  <div class="left-side">
    <img [routerLink]="['']" src="../../../assets/pictures-logo.png" class="header-icon">
  </div>

  <div class="right-side">
    <div class="login-and-register-bar" *ngIf="!isLoggedIn()">
      <div class="nav-button"><a [routerLink]="['/auth/login']" class="nav-link">Login</a></div>
      <div class="nav-button"><a [routerLink]="['/auth/register']" class="nav-link">Register</a></div>
    </div>
    <div class="login-and-register-bar" *ngIf="isLoggedIn()">
      <div class="nav-button"><a [routerLink]="['/create']" class="nav-link">Create</a></div>
      <button class="nav-button" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
